# Gradle files
.gradle/
build/
run/

# IntelliJ IDEA
.idea/
*.iml
out/

# VS Code
.vscode/

# Decompiled Source (VERY HEAVY - DO NOT UPLOAD)
decompiled_src/

# Binaries / JARs
*.jar
*.war

# OS files
Thumbs.db
.DS_Store

# Log files
*.log

# Local settings
local.properties
.env

cochannhan/
.cursor/
.claude/
UI-texture/
run_log.txt