# CoTien Addon Access Transformers
public net.minecraft.world.entity.Display readAdditionalSaveData(Lnet/minecraft/nbt/CompoundTag;)V
public net.minecraft.world.entity.Display$BlockDisplay readAdditionalSaveData(Lnet/minecraft/nbt/CompoundTag;)V
public net.minecraft.world.entity.Display$ItemDisplay readAdditionalSaveData(Lnet/minecraft/nbt/CompoundTag;)V
public net.minecraft.world.entity.Display$TextDisplay readAdditionalSaveData(Lnet/minecraft/nbt/CompoundTag;)V
